* {
  margin: 0;
  padding: 0;
}
.diseny {
  /* background-color: #b63030; */
  background-image: url("/images/backg/bg_winter.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 450px;
}
h1 {
  text-align: center;
  font-family: "Shojumaru", cursive;
  color: #ffffff;
  font-size: 150px;
}
#start-screen {
  width: 1000px;
  height: 750px;
  background-image: url("/images/screens/intro2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.inicioScreen {
  /* border: #b63030 solid 3px; */
  margin-top: 50px;
  margin-left: 50px;
}

#myGame {
  display: none;
  margin: 100px;
}

.start {
  padding-left: 200px;
}

.btn {
  background-color: #b63030;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}
.btn.pausa {
  background-color: #1491a1;
  /* color: white;
  border: none;
  border-radius: 12px;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px; */
}
.btn:hover {
  background-color: #3e8e41;
  color: white;
}
.gameOver {
  background-color: #3e8e41;
}
